<template id='main-page-template'>
<div class='container'>
    <div class='lead'>
        <blockquote class="blockquote" style='margin-left:2rem;'>
            <p class="mb-0" tt='quote'></p>
            <footer class="blockquote-footer"><cite tt='proverb'></cite></footer>
        </blockquote>
        <div>
            <span tt='main_blurb'></span>
            <a href='https://www.wikidata.org/wiki/Wikidata:Cradle' class='wikidata' target='_blank' tt='here'></a>
        </div>
    </div>

    <ul class='list-group mt-2'>
        <li v-for='(s,sk) in subjects' class='list-group-item'>
            <router-link :to='"/subject/"+sk'>
                <span v-if='typeof s.labels[tt.language]=="undefined"'>
                    {{sk.replace(/_/g,' ')}}
                </span>
                <span v-else>
                    {{s.labels[tt.language]}}
                </span>
            </router-link>
        </li>
    </ul>
</div>
</template>

<script>
'use strict';

let MainPage = Vue.extend ( {
    props : [] ,
    data : function () { return {} } ,
    created : function () {
    } ,
    updated : function () { tt.updateInterface(this.$el) ; } ,
    mounted : function () { tt.updateInterface(this.$el) ; } ,
    methods : {
    } ,
    template:'#main-page-template'
} ) ;
</script>
